@import url(searchBar.css);
@import url(header.css);
@import url(movie.css);
@import url(loader.css);

/* #020D19; */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh; /* At least 100vh to fill the viewport initially */
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      #1f2427 100%
    ),
    url('/src/img/background.jpg') center/cover no-repeat; /* Replace with your image */
  background-attachment: fixed; /* Parallax effect */
  background-size: cover;
  background-repeat: no-repeat;
}

.movie__list__header {
  color: #fff;
  font-weight: 100;
  font-size: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}