.in__theater__container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.movie__container {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  background-color: #1f2427;
}

.movie__poster__container {
  flex-shrink: 0;
  /* overflow: hidden; */
  max-height: 20rem;
}

.movie__poster__container img {
  object-fit: cover;
  object-position: center;
  width: 20rem;
  height: 20rem;
  border-radius: 0.2rem;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0.6) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: 100% 100%; /* Ensure it covers the image */
  -webkit-mask-repeat: no-repeat; /* Prevent tiling */
}

.movie__content {
    z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.movie__title {
  color: #fff;
  font-weight: 300;
}

.movie__info {
  display: flex;
  gap: 0.125rem;
  margin-bottom: 1rem;
}

.movie__info__item {
  color: #fff;
  font-weight: 100;
}

.movie__summary__container h4 {
  color: #fff;
  font-weight: 300;
}

.movie__summary {
  color: #fff;
  font-weight: 100;
  font-size: 0.7rem;
}
